:root {
	--code-object-list-background-colour: rgba(68, 68, 68, 0.2);
	--code-object-list-background-colour-light-theme: rgba(68, 68, 68, 0.2);
	--keyword-colour: #ec7c14;
	--keyword-colour-light-theme: #2a522a;
	--code-object-header-colour: var(--keyword-colour);
	--code-object-header-colour-light-theme: var(--keyword-colour-light-theme);
	--param-table-border-colour: #ffffff;
	--param-table-border-colour-light-theme: #626262;
	--param-table-head-background-colour: rgba(68, 68, 68, 0.2);
	--param-table-head-background-colour-light-theme: rgba(68, 68, 68, 0.2);
	--prop-table-border-colour: #ffffff;
	--prop-table-border-colour-light-theme: #626262;
	--prop-table-head-background-colour: rgba(68, 68, 68, 0.2);
	--prop-table-head-background-colour-light-theme: rgba(68, 68, 68, 0.2);
	--custom-type-colour: #007e32;
	--custom-type-colour-light-theme: #804710;
	--lua-type-colour: #3a77a2;
	--lua-type-colour-light-theme: #3a77a2;
	--lua-param-colour: var(--default-text-colour);
	--lua-param-colour-light-theme: var(--default-text-colour-light-theme);
	--lua-function-colour: var(--keyword-colour);
	--lua-function-colour-light-theme: var(--keyword-colour-light-theme);
	--lua-unknown-colour: #f1c989;
	--lua-unknown-colour-light-theme: #f1c989;
	--lua-number-colour: var(--lua-type-colour);
	--lua-number-colour-light-theme: var(--lua-type-colour-light-theme);
	--internal-use-warning-colour: #e34848;
	--internal-use-warning-colour-light-theme: #e34848;
	--internal-use-background-colour: #201616;
	--internal-use-background-colour-light-theme: #deaaa8;
	--deprecated-warning-colour: #e3c948;
	--deprecated-warning-colour-light-theme: #695d20;
	--deprecated-background-colour: #222012;
	--deprecated-background-colour-light-theme: #c9c192;
}

/* Categories
1. Module body
2. Code object
3. Code Object tables
4. Code Object warnings
5. Code Object type colours
*/

/******************************************
************** 1 Module body **************
*******************************************/
#module-body {
	font-size: 1rem;
	font-weight: bold;
	margin: 0.5rem;
}

#module-body-description {
}

/******************************************
************** 2 Code object **************
*******************************************/
#code-object-list {
	background: var(--code-object-list-background-colour);
	padding-bottom: 0.5em;
	width: 100%;
}

/* The class of the div containing a code object entry */
.code-object {
	margin: 5px 0 1em;
	width: calc(100% - 1em);
	max-width: 60em;
	font-size: 1rem;
	line-height: 1.7em;
	padding: 5px 1em 5px 0;
}

.code-object a {
	color: var(--custom-type-colour) !important;
	font-family: Consolas, 'JetBrains Mono', 'Courier New', monospace;
	text-decoration: none;
}

.code-object a:hover {
	filter: brightness(1.7);
	text-decoration: underline;
}

.code-object-padding {
	padding-left: 15px;
}

.code-object-title {
	font-size: 1.5em;
	font-weight: bold;
	width: fit-content;
	font-family: Consolas, 'JetBrains Mono', 'Courier New', monospace;
	margin-top: 10px;
}

.code-object-group-title {
	margin-bottom: 0;
	color: var(--keyword-colour);
}

.code-object-group-title-separator {
	margin-bottom: -1em;
	color: var(--keyword-colour);
}

.code-object-body {
	padding-top: 1em;
}

.code-object-superclass {
}

.code-object-subclasses {
	display: flex;
	flex-direction: row;
}

.code-object-keyword {
	font-weight: bold;
	color: var(--keyword-colour);
	font-family: Consolas, 'JetBrains Mono', 'Courier New', monospace;
}

.code-object-small-title-keyword {
	color: var(--keyword-colour);
	font-size: 0.7em;
	position: relative;
	font-family: Consolas, 'JetBrains Mono', 'Courier New', monospace;
}

.code-object-small-keyword {
	color: var(--keyword-colour);
	font-size: 0.7em;
	position: relative;
	top: 4px;
	font-family: Consolas, 'JetBrains Mono', 'Courier New', monospace;
}

.code-object-author {
	top: 1em;
	position: relative;
}

.code-object-return {
	margin-top: 1em;
	max-width: 45em;
}

.code-object-description {
	max-width: 45em;
	width: fit-content;
}

.code-object-description p {
	margin-top: 0;
	margin-bottom: 0;
}

.code-object-description h3 {
	color: var(--keyword-colour);
	margin-bottom: 0.3em;
	margin-top: 0.3em;
}

.code-object-see {
}

.code-object-see-list {
	margin-left: 1em;
	margin-bottom: -1.5em;
	line-height: 1.3em;
	position: relative;
	top: -1.2em;
}

.code-object-error-list {;
	margin-top: 0.5em;
	line-height: 1.2em;
}

.code-object-source {
	margin-top: 1em;
}

/* Class for minor headers in the code object body */
.code-object-header {
	margin-bottom: 0;
	color: var(--code-object-header-colour);
}

.code-object-compressed-list {
	margin-top: 0;
}

.code-object-inheritance-list {
	font-size: 1.1em;
	margin-top: 0;
	margin-bottom: 0;
}

/******************************************
********** 3 Code Object tables ***********
*******************************************/
/* Table for Class fields and Function params */
.code-object-param-table {
	border-spacing: 0;
	border-collapse: collapse;
	border: solid 1px var(--param-table-border-colour);
}

.code-object-param-table-head {
	border: solid 1px var(--param-table-border-colour);
	padding-left: 5px;
	padding-right: 5px;
	background: var(--param-table-head-background-colour);
}

.table-param {
	border: solid 1px var(--param-table-border-colour);
	padding-right: 0.3em;
	padding-left: 3px;
	vertical-align: top;
}

.table-type {
	border: solid 1px var(--param-table-border-colour);
	padding-right: 0.3em;
	padding-left: 3px;
	vertical-align: top;
}

.table-descr {
	border: solid 1px var(--param-table-border-colour);
	padding-right: 0.3em;
	padding-left: 3px;
	vertical-align: top;
}
/* Table for Class fields and Function params END */

/* Table for static fields */
.code-object-static-table {
	border-spacing: 0;
	border-collapse: collapse;
	border: solid 1px var(--prop-table-border-colour);
}

.code-object-static-table-head {
	border: solid 1px var(--prop-table-border-colour);
	padding-left: 5px;
	padding-right: 5px;
	background: var(--prop-table-head-background-colour);
}

.table-static-name {
	border: solid 1px var(--prop-table-border-colour);
	padding-right: 0.3em;
	padding-left: 3px;
	vertical-align: top;
}

.table-static-value {
	border: solid 1px var(--prop-table-border-colour);
	padding-right: 0.3em;
	padding-left: 3px;
	color: var(--lua-type-colour);
	vertical-align: top;
}

.table-static-descr {
	border: solid 1px var(--prop-table-border-colour);
	padding-right: 0.3em;
	padding-left: 3px;
	vertical-align: top;
}
/* Table for static fields END */

/******************************************
********* 4 Code Object warnings **********
*******************************************/
.code-object-warning-image {
	width: 4em;
	height: 4em;
	position: relative;
}

.code-object-warning-text {
	margin-left: 0.5em;
}

.code-object-internal {
	font-weight: bold;
	font-size: 0.8em;
	color: var(--internal-use-warning-colour);
	white-space: nowrap;
	display: flex;
	align-items: center;
}

.code-object-internal-bg {
	background-color: var(--internal-use-background-colour) !important;
}

.code-object-deprecated {
	font-weight: bold;
	font-size: 0.8em;
	color: var(--deprecated-warning-colour);
	white-space: nowrap;
	display: flex;
	align-items: center;
}

.code-object-deprecated-bg {
	background-color: var(--deprecated-background-colour) !important;
}

/******************************************
******* 5 Code Object type colours ********
*******************************************/
.lua-type {
	color: var(--lua-type-colour);
	font-family: Consolas, 'JetBrains Mono', 'Courier New', monospace;
}

.lua-param {
	color: var(--lua-param-colour);
	font-family: Consolas, 'JetBrains Mono', 'Courier New', monospace;
}

.lua-function {
	color: var(--lua-function-colour);
	font-family: Consolas, 'JetBrains Mono', 'Courier New', monospace;
}

.lua-unknown {
	color: var(--lua-unknown-colour);
	font-family: Consolas, 'JetBrains Mono', 'Courier New', monospace;
}

.lua-number {
	color: var(--lua-number-colour);
	font-family: Consolas, 'JetBrains Mono', 'Courier New', monospace;
}
