/* Categories
1. Generic pages
*/

/******************************************
************* 1 Generic pages *************
*******************************************/
#main-page {
	max-width: 60em;
}

#main-page-description {
	max-width: 50em;
}
