.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

.grid-container img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

#commands ul {
	list-style-type: none;
}

.snippet {
	background-color: #464646;;
	color: #c8c8c8;
	/*border-radius: 5px;*/
	font-size: 13.8px;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

 .main-list {
	 margin-top: 0.2em;
 }
