#LuaAutoDoc-Favicon
<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="favicon/site.webmanifest">
<link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#000080">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">


#LuaAutoDoc-NavBar
<div id="nav-bar">
	<div id="nav-bar-header">
		<div id="nav-bar-header-name">
			<a href="#LuaAutoDoc-MainPageLink">#LuaAutoDoc-ProjectName</a>
		</div>
		<input id="nav-bar-search" type="text" placeholder="Search">
	</div>
	#LuaAutoDoc-NavBarContent
</div>


#LuaAutoDoc-HeaderBar
<div id="main-header-bar">
	<span><a href="#LuaAutoDoc-MainPageLink">Main Page</a>&emsp;»&emsp;<a href="#LuaAutoDoc-HTMLSelf">#LuaAutoDoc-CurrentPageName</a></span>
</div>


#LuaAutoDoc-Footer
<div id="footer">
	<button id="theme-toggle" onclick="toggleTheme()" ></button>
	<p id="footer-text">© Copyright #LuaAutoDoc-CurrentYear, #LuaAutoDoc-Author <br>
		Built with <a href="https://gitlab.com/UlrikHD/LuaAutoDoc">LuaAutoDoc</a></p>
	<div id="footer-links">
		#LuaAutoDoc-FooterLinks
	</div>
</div>

#LuaAutoDoc-FooterLinks
	#LuaAutoDoc-Skip
