#LuaAutoDoc-NavBarCurrentPageEntries
<a href="#LuaAutoDoc-GetValueHref"><span class="nav-bar-list-button" data-prefix="  ">#LuaAutoDoc-GetHTMLName</span></a>

#LuaAutoDoc-NavBarModulePageEntries
<a href="#LuaAutoDoc-GetValueHref"><span class="nav-bar-list-button" data-prefix="  ">#LuaAutoDoc-GetHTMLName</span></a>


#LuaAutoDoc-NavBarClassPageEntries
<a href="#LuaAutoDoc-GetValueHref"><span class="nav-bar-list-button" data-prefix="  ">#LuaAutoDoc-GetHTMLName</span></a>


#LuaAutoDoc-NavBarFunctionPageEntries
<a href="#LuaAutoDoc-GetValueHref"><span class="nav-bar-list-button" data-prefix="  ">#LuaAutoDoc-GetHTMLName</span></a>


#LuaAutoDoc-NavBarSectionEntry
<a href="#LuaAutoDoc-GetValueHref"><span class="nav-bar-list-button" data-prefix="  ">#LuaAutoDoc-GetHTMLName</span></a>
