#LuaAutoDoc-NavBarCurrentPageContent
<div class="nav-bar-list-div">
	<span class="nav-bar-list-button" data-prefix="+">Current Page</span>
	<div class="nav-bar-list-content">
		#LuaAutoDoc-NavBarCurrentPageEntries
	</div>
</div>


#LuaAutoDoc-NavBarModulePageContent
<div class="nav-bar-list-div">
	<span class="nav-bar-list-button" data-prefix="+">Modules</span>
	<div class="nav-bar-list-content">
		#LuaAutoDoc-NavBarModulePageEntries
	</div>
</div>


#LuaAutoDoc-NavBarClassPageContent
<div class="nav-bar-list-div">
	<span class="nav-bar-list-button" data-prefix="+">Classes</span>
	<div class="nav-bar-list-content">
		#LuaAutoDoc-NavBarClassPageEntries
	</div>
</div>


#LuaAutoDoc-NavBarFunctionPageContent
<div class="nav-bar-list-div">
	<span class="nav-bar-list-button" data-prefix="+">Functions</span>
	<div class="nav-bar-list-content">
		#LuaAutoDoc-NavBarFunctionPageEntries
	</div>
</div>


#LuaAutoDoc-NavBarSourceCodeMap
<div class="nav-bar-list-div">
	<a href="#LuaAutoDoc-SourceCodeFolderMapHref"><span class="nav-bar-list-button" data-prefix="  ">#LuaAutoDoc-SourceCodeFolderMapName</span></a>
</div>


#LuaAutoDoc-NavBarCustomContent
	#LuaAutoDoc-Skip


#LuaAutoDoc-NavBarSection
<div class="nav-bar-list-div">
	<span class="nav-bar-list-button" data-prefix="+">#LuaAutoDoc-GetHTMLName</span>
	<div class="nav-bar-list-content">
		#LuaAutoDoc-NavBarSectionEntry
	</div>
</div>
