#LuaAutoDoc-StylesheetEntry
<link rel="stylesheet" href="#LuaAutoDoc-GetEntry" type="text/css" />


#LuaAutoDoc-ScriptEntry
<script src="#LuaAutoDoc-GetEntry"></script>


#LuaAutoDoc-NavBarContent
<div id="nav-list">
	#LuaAutoDoc-NavBarCurrentPageContent
	#LuaAutoDoc-NavBarModulePageContent
	#LuaAutoDoc-NavBarClassPageContent
	#LuaAutoDoc-NavBarFunctionPageContent
	#LuaAutoDoc-NavBarSourceCodeMap
	<hr class="horizontal-divider">
	#LuaAutoDoc-NavBarCustomContent
</div>


#LuaAutoDoc-FooterLinks
<a href="#LuaAutoDoc-FooterLinkHref">
    <img class="footer-link-image" src="#LuaAutoDoc-FooterAssetSource" alt="#LuaAutoDoc-FooterAssetSource">
</a>
