#LuaAutoDoc-NavBarCustomContent
<a href="cat_tax.html"><span class="nav-bar-list-button" data-prefix="  ">Cats!</span></a>
<div class="nav-bar-list-div">
	<span class="nav-bar-list-button" data-prefix="+">Extra Stuff</span>
	<div class="nav-bar-list-content">
		<a href="tarantulas.html"><span class="nav-bar-list-button" data-prefix="  ">Tarantulas!</span></a>
		<div class="nav-bar-list-div">
			<span class="nav-bar-list-button" data-prefix="+">Even More stuff!</span>
			<div class="nav-bar-list-content">
				<a href="dog_tax.html"><span class="nav-bar-list-button" data-prefix="  ">Dogs!</span></a>
				<a href="parrot_tax.html"><span class="nav-bar-list-button" data-prefix="  ">Parrots!</span></a>
			</div>
		</div>
	</div>
</div>
