#LuaAutoDoc-ProjectDescription
<h4>
    Note: I would recommend you to first read through the Lua files and the raw html in the
    <a href="https://gitlab.com/UlrikHD/LuaAutoDoc/-/tree-master/ExampleProject/LuaAutoDoc">LuaAutoDoc folder</a>
    to properly see how the formatting works. A lot of the references made will only be visible for those reading the
    actual code and inline comments.
</h4>

<h2 id="installation">Installation</h2>
<div>
    <ol class="main-list">
        <li>If you do not have python3.10 or later installed, you can install the latest version here:
            <a href="https://www.python.org/downloads/">https://www.python.org/downloads/</a></li>
        <li>Once installed, install the LuaAutoDoc module with pip: <code class="snippet">pip install LuaAutoDoc</code>
        </li>
    </ol>
</div>

<h2 id="how-to-run">How to Run</h2>
<pre><code class="snippet">LuaAutoDoc init</code>
<code class="snippet">LuaAutoDoc build -s</code></pre>
<div id="commands">
    <h3>Requirements:</h3>
    <div>
        To be able to call <code class="snippet">LuaAutoDoc build -s</code> you will need to have a
        <code class="snippet">Config_LuaAutoDoc.json</code> in your project directory that tells LuaAutoDoc where
        the script folder is and other essential information like the author name, whether to hide the source, etc...
        Ideally you'll also have a Mandatory_user_data.html file containing a
        <code class="snippet">ProjectDescription</code> LuaAutoDoc tag that will be used as the main page description.
        <br> The easiest way to create the config folder is to use the command
        <code class="snippet">LuaAutoDoc init</code> which will initialise a
        <code class="snippet">LuaAutoDoc/</code> folder containing:
        <ul class="main-list">
            <li>Config_LuaAutoDoc.json - The config file</li>
            <li>HTMLFragments/user_essentials/CustomNavbar.html - The HTMLFragment to add custom pages to the navbar
            </li>
            <li>HTMLFragments/user_essentials/Mandatory_user_data.html - The HTMLFragment for the main page text</li>
        </ul>
    </div>
    <h3 id="init-options">init -options</h3>
    <div>
        LuaAutoDoc init can be called without any arguments for a standard setup. This includes creation of a LuaAutoDoc
        folder with a config file and essential folders/templates added, like the main page description html file.
        <br><br>
        Usage: <code class="snippet">LuaAutoDoc init -options</code><br>
        Options:
        <ul class="main-list">
            <li><code class="snippet">-p, --path &lt;path></code>: Specifies the path to initialise the files to.
                Defaults to LuaAutoDoc/ if no option is given.
            </li>
            <li><code class="snippet">-c, --config</code>: Initialises the config file.</li>
            <li><code class="snippet">-t, --templates</code>: Initialises the essential template files.</li>
            <li><code class="snippet">-o, --override</code>: Overrides existing files.</li>
            <li><code class="snippet">-r, --reset</code>: Cleans up the config folder and initialises it again.</li>
            <li><code class="snippet">-a, --all</code>: Copy every source file to the config folder. Not recommended
                unless you want heavily customised documentation.
            </li>
            <li><code class="snippet">--favicon</code>: Copies the favicon folder to the config folder.</li>
            <li><code class="snippet">--assets</code>: Copies the assets folder to the config folder.</li>
            <li><code class="snippet">--html</code>: Copy all html fragments the config folder. Not recommended unless
                you want to heavily customise the documentation.
            </li>
            <li><code class="snippet">--css</code>: Copy all css files to the config folder.</li>
            <li><code class="snippet">--js</code>: Copy all js files to the config folder.</li>
            <li><code class="snippet">-h, --help</code>: Displays this message.</li>
        </ul>
    </div>
    <h3 id="template-options">template -options</h3>
    <div>
        LuaAutoDoc template can only be called with an option specifier. Requires a Config_LuaAutoDoc.json file in the
        current directory unless <code class="snippet">-p</code> or <code class="snippet">-s</code> is used.
        <br><br>
        Usage: <code class="snippet">LuaAutoDoc template -options</code><br>
        Options:
        <ul class="main-list">
            <li><code class="snippet">-p, --path &lt;path></code>: Specifies the path to the config file. If not
                specified, it will only check current directory.
            </li>
            <li><code class="snippet">-s, --search</code>: Searches for a Config_LuaAutoDoc.json file in the current
                directory and all subdirectories. If found, it will use that file as the config file.
            </li>
            <li><code class="snippet">--theme</code>: Will generate a css file for conveniently changing the colour
                theme of the documentation.
            </li>
            <li><code class="snippet">--code</code>: Will generate a css file for conveniently changing the colour theme
                of code blocks.
            </li>
            <li><code class="snippet">--html</code>: Will generate a template html file containing the standard
                LuaAutoDoc tags like navbar, header, footer, etc... <br>
                Recommended if you want to add additional pages to your documentation.
            </li>
            <li><code class="snippet">-h, --help</code>: Displays this help message.</li>
        </ul>
    </div>
    <h3 id="clean-options">clean -options</h3>
    <div>
        LuaAutoDoc clean can only be called with an option specifier. Requires a Config_LuaAutoDoc.json file in the
        current directory unless -p or -s is used.
        <br><br>
        Usage: <code class="snippet">LuaAutoDoc clean -options</code><br>
        Options:
        <ul class="main-list">
            <li><code class="snippet">-p, --path &lt;path></code>: Specifies the path to the config file. If not
                specified, it will only check current directory.
            </li>
            <li><code class="snippet">-s, --search</code>: Searches for a Config_LuaAutoDoc.json file in the current
                directory and all subdirectories. If found, it will use that file as the config file.
            </li>
            <li><code class="snippet">-b, --build</code>: Removes the generated Docbuild.</li>
            <li><code class="snippet">-c, --config</code>: Removes the config folder. This will delete the ALL content
                in the config folder, including files not generated by LuaAutoDoc.
            </li>
            <li><code class="snippet">-a, --all</code>: Removes the generated DocBuild and the config folder. This will
                delete the ALL content in the config folder, including files not generated by LuaAutoDoc.
            </li>
            <li><code class="snippet">-h, --help</code>: Displays this help message.</li>
        </ul>
    </div>
    <h3 id="build-options">build -options</h3>
    <div>
        LuaAutoDoc build can be called without any arguments if a config file is found in the current directory. A
        config file can be generated with the command LuaAutoDoc init -options.
        <br><br>
        Usage: <code class="snippet">LuaAutoDoc build -options</code><br>
        Options:
        <ul class="main-list">
            <li><code class="snippet">-p, --path &lt;path></code>: The path to the config file. (must be given before
                other options)
            </li>
            <li><code class="snippet">-s, --search</code>: Will search for the config file in the current directory and
                all subdirectories. Exits if
                none is found. A more convenient alternative to -c. (must be given before other options)
            </li>
            <li><code class="snippet">--show_hidden</code>: Will ignore @hidden tags and include hidden classes and
                functions in the documentation.
            </li>
            <li><code class="snippet">--hide_source_code</code>: If set, the source code will not be included in the
                documentation.
            </li>
            <li><code class="snippet">-o, --override &lt;arg></code>: format -o key=value can be used to override a
                specific config value. Can be used multiple times.
            </li>
            <li><code class="snippet">-h, --help</code>: Displays this help message.</li>
        </ul>
    </div>
</div>

<h1 id="customisation">Customising Your Pages</h1>
<h2>Intro</h2>
<p>
    Some information about how pages are assembled.
    The project uses "LuaAutoDoc tags" as a way to guide the DocMaker to generate the html skeleton. All tags start with
    <code class="snippet">#&#x200B;LuaAutoDoc-</code> and are followed by a unique name.
    A LuaAutoDoc tag can be resolved into either one of two things. It can be an "HTML fragment", in which case the tag
    will be resolved by getting its html snippet, possibly containing other tags, or it can be an endpoint,
    in which case the tag will be resolved internally. Each tag is resolved recursively and in order they show up in
    the html files.
    <br>
    #&#x200B;LuaAutoDoc-ProjectDescription is an example of a html fragment. You can overwrite its content to
    create your own custom fragment. This will be necessary for anyone who wants a main page that says something
    different from the default text.<br>
    A html fragment starts directly below its declaration and will last until a new tag is declared at the start of a new
    line, or until the end of the file. This means that you can have multiple fragments in the same file.
</p>

<h2 id="file-structure">The Folder Structure</h2>
<ul class="main-list">
    <li>
        index.html
    </li>
    <li>
        assets/
    </li>
    <ul>
        <li>
            various media files, etc...
        </li>
    </ul>
    <li>
        data/
    </li>
    <ul>
        <li>
            DataStore.json (An index of the documentation used by the search bar)
        </li>
    </ul>
    <li>
        favicon/
    </li>
    <ul>
        <li>
            favicon files
        </li>
    </ul>
    <li>
        html/
    </li>
    <ul>
        <li>
            files.html
        </li>
    </ul>
    <li>
        scripts/
    </li>
    <ul>
        <li>
            Files loaded by the html header as a script
        </li>
    </ul>
    <li>
        stylesheets/
    </li>
    <ul>
        <li>
            Files loaded by the html header as a stylesheet
        </li>
    </ul>
</ul>

<h2 id="overriding">Overriding the Default Files/Values</h2>
<p>
    Any LuaAutoDoc tag, html file, css, javascript file, etc... can be overwritten by the user. Any html file placed
    in the configured <code class="snippet">html_fragment_directory</code> will have priority over the ones included in
    the source code. Same goes for every other file, be it css, javascript, favicon, assets, etc... Let's say you want
    to override the default colour theme of the documentation. Using the template command
    <code class="snippet">LuaAutoDoc template --theme</code> a css template file with every css colour variable will
    be generated. Changing those values will have a global effect on the documentation. Likewise, if you only want to
    change the highlighted code theme, you can use <code class="snippet">LuaAutoDoc template --code</code> to have a css
    file with every code type colour available to be overwritten. For larges changes like changing the css classes that
    makes up the documentation <code class="snippet">LuaAutoDoc init --css</code> can be used to copy over the default
    css files to be manually changed. This can be done for every default folder shown in <a href="#file-structure">
    the folder structure.</a>
</p>

<h2 id="adding-pages">Adding Your Own Pages</h2>
<p>Often you will want to add your pages to documentation, be it for tutorials, installation instructions, or other
    topics. To create a page that looks like a natural part of the documentation, it's recommended to utilise the
    template command that LuaAutoDoc offers.<code class="snippet">LuaAutoDoc template --html</code> This command will
    create a new html template file in the <code class="snippet">HTMLFragments/templates/</code> folder. This will
    provide you with a file containing the necessary LuaAutoDoc tags for creating the navbar, footer, header,
    linking stylesheets, etc... allowing you to easily add your own content in a similar fashion to the main page via
    <code class="snippet">ProjectDescription</code> .
</p>
<p>
    Everything below the tag #&#x200B;LuaAutoTag-ProjectDescription will be used as the main page description.
    However, do note that the tag <code class="snippet">ProjectDescription</code> is not special, if it got LuaAutoDoc
    tags in it, they will be evaluated as normal. This means that if you include LuaAutoDoc tags with no indentation
    at the start of a new line, it will end the <code class="snippet">ProjectDescription</code> fragment.
</p>

<h2 id="usage">Code snippets in the documentation</h2>
<p>
    You can conveniently insert Lua highlighted code snippets in any html page/fragment with the
    <code class="snippet">&lt;pre></code> tag.
    You have two options, a numbered code field with the tag &lt;pre class="code-field-numbered"> and an unnumbered
    code field with the tag &lt;pre class="code-field-clean">.<br>
    It will look like this:

</p>
<pre class="code-field-numbered">
	-- The parser will ignore any newlines before the first symbol inside the &lt;pre> tag. However, other whitespace
-- will be preserved so beware indentation.!

--- @param name string The name of the object.
--- @param age number The age of the object.
--- @return MainClass
function MainClass:new(name, age)
    local o = {}
    setmetatable(o, self)
    self.__index = self
    o.name = name
    o.age = age
    return o
end
</pre>
<br>
<pre class="code-field-clean">
--- This function is grumpy, make sure to feed it a big number!
--- @param num number A number to test.
--- @return string The mood of the function.
--- @error 2 If the number fed is less than 1, this function will throw an error moving two levels up.
function grumpy(num)
    if num < 1 then
        error('This is nothing!', 2)
    elseif num < 100 then
        return 'meh'
    elseif num < 1000 then
        return 'I still want more!'
    end
    return 'I am satisfied!'
end
</pre>

<h2 id="links">Linking to other parts of the documentation</h2>
<p>
    You can also very easily link to parts of the documentation by using the @see tag like this:
    <code class="snippet">---&#x200B;@see MainClass [link_text: The main class of the project]</code> which
    would look like this: ---@see MainClass [link_text: The main class of the project]<br>
    Beware that if you have functions or classes with the same name, you'll need to use a @see hint to ensure that the
    correct object is referenced. You can either use an absolute or relative path to the file your object is in, or you
    can link to the module it's in.
    <code class="snippet">[abs_path: {path}], [rel_path: {path}], [module: {module_name}]</code>
</p>

<p>
    If you want to link directly to html pages that are not auto generated, you can do so normally. Just beware that
    the main html page sits in a folder above every other page.
    <br>
    If you add custom entries to the navbar with the LuaAutoDoc tag
    <code class="snippet">NavBarCustomContent</code>, you should link as if you were <span
            style="font-weight: bold; text-decoration: underline">not</span>
    on the main page, which means you can use href directly to link to other pages. If you want to link the main page
    for whatever reason (the main page will be linked both in the header and at the top of the navbar already) it's
    advised to use <code class="snippet">#&#x200B;LuaAutoTag-MainPage</code> instead of a normal href link.
</p>

<h2 id="current-page-entries">Current Page Entries</h2>
<p>
    To add an entry to the <code class="snippet">Current Page</code> section of the navbar all you need to do
    is add the header tag of any size and give it an id. The id will be used as the href and the header text will be the
    visible text in the navbar. The entries will not be nested based on header size and will be displayed in the order
    they appear in the file.
</p>
