#LuaAutoDoc-SourceCodeFolderList
<li><img src="#LuaAutoDoc-SourceCodeLuaFolderIcon" class="source-code-file-icon" alt="Folder Icon">
	<span class="source-code-tree-icon-prefix">#LuaAutoDoc-SourceCodeFolderName</span>
	<ul class="source-code-tree-nested-list">
        #LuaAutoDoc-SourceCodeFolderContent
	</ul>
</li>


#LuaAutoDoc-SourceCodeFileEntry
<li><img src="#LuaAutoDoc-SourceCodeLuaFileIcon" class="source-code-file-icon" alt="File Icon">
	<a href="#LuaAutoDoc-SourceCodeFileHref">#LuaAutoDoc-SourceCodeFileName</a>
</li>
