#LuaAutoDoc-HighlightFallback
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/darcula.min.css">
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/highlight.min.js"></script>
<script>
	hljs.highlightAll();
</script>


#LuaAutoDoc-MirrorSourceCodeHeaderBar
<div id="main-header-bar">
	<span><a href="#LuaAutoDoc-MainPageLink">Main Page</a>&emsp;»&emsp;<a href="#LuaAutoDoc-SourceCodeFolderMapHref">#LuaAutoDoc-SourceCodeFolderMapName</a>&emsp;»&emsp;<a href="#LuaAutoDoc-HTMLSelf">#LuaAutoDoc-CurrentPageName</a></span>
</div>
