#LuaAutoDoc-CodeObjectSubclassesEntry
<br>
<a href="#LuaAutoDoc-GetValueHref">#LuaAutoDoc-GetHTMLName</a>


#LuaAutoDoc-SeeList
<ol class="code-object-see-list">#LuaAutoDoc-SeeEntries</ol>


#LuaAutoDoc-CodeObjectErrorsList
<span class="code-object-keyword">Raise: </span> <span class="lua-type">#LuaAutoDoc-GetName</span> <span class="code-object-keyword">Level:</span> <span class="lua-number">#LuaAutoDoc-GetErrorLevel</span> #LuaAutoDoc-GetErrorDescription


#LuaAutoDoc-CodeObjectFieldsEntry
<tr>
	<td class="table-param">#LuaAutoDoc-GetClassFieldName</td>
	<td class="table-type">#LuaAutoDoc-GetClassFieldType</td>
	<td class="table-descr">#LuaAutoDoc-GetClassFieldDescription</td>
</tr>


#LuaAutoDoc-CodeObjectPropertiesEntry
<tr>
	<td class="table-static-name" id="#LuaAutoDoc-GetPropertyID">#LuaAutoDoc-GetClassPropertyName</td>
	<td class="table-static-value">#LuaAutoDoc-GetClassPropertyValue</td>
	<td class="table-static-descr">#LuaAutoDoc-GetClassPropertyDescription</td>
</tr>


#LuaAutoDoc-CodeObjectReturn
<span class="code-object-keyword">Return</span> #LuaAutoDoc-CodeObjectReturnType: #LuaAutoDoc-CodeObjectReturnDescription


#LuaAutoDoc-CodeObjectOptionalReturn
<span class="code-object-keyword">Return<span class="code-object-small-keyword">(optional)</span></span>#LuaAutoDoc-CodeObjectOptionalReturnType #LuaAutoDoc-CodeObjectOptionalReturnDescription


#LuaAutoDoc-CodeObjectParamsEntry
<tr>
	<td class="table-param">#LuaAutoDoc-GetParamName</td>
	<td class="table-type">#LuaAutoDoc-GetParamType</td>
	<td class="table-descr">#LuaAutoDoc-GetParamDescription</td>
</tr>


#LuaAutoDoc-InheritedMethodList
<div>
	<br>
	<h2 class="code-object-header">Inherited Methods</h2>
	<ol class="code-object-inheritance-list">#LuaAutoDoc-InheritedMethodEntry</ol>
</div>


#LuaAutoDoc-CodeObjectCompressedMethodsEntry
<li><a href="#LuaAutoDoc-GetValueHref">#LuaAutoDoc-GetHTMLName</a></li>
