#LuaAutoDoc-ModuleBody
<div id="module-body">
	<div style="font-size: 1.5em">
		#LuaAutoDoc-CodeObjectDeprecated
		#LuaAutoDoc-CodeObjectInternal
	</div>
	<h1 class="page-title">#LuaAutoDoc-ModuleTitle</h1>
	<div id="module-body-description">
		#LuaAutoDoc-ModuleDescription
	</div>
	#LuaAutoDoc-See
</div>


#LuaAutoDoc-CodeObjectList
<div id="code-object-list" class="#LuaAutoDoc-DeprecatedEntryClass#LuaAutoDoc-InternalEntryClass">
	#LuaAutoDoc-CodeObjectEntry
</div>
