#LuaAutoDoc-InheritedMethodEntry
<li><a href="#LuaAutoDoc-GetValueHref">#LuaAutoDoc-GetHTMLName</a></li>


#LuaAutoDoc-SeeEntries
<li><a href="#LuaAutoDoc-SeeHref">#LuaAutoDoc-SeeRef</a>#LuaAutoDoc-SeeDescription</li>
