#LuaAutoDoc-DefaultFunctionDescription
<p>Collection page for functions without a module and that are not a part of a class.</p>


#LuaAutoDoc-DefaultClassDescription
<p>Collection page for classes without a module.</p>


#LuaAutoDoc-CodeObjectClass
<div class="code-object#LuaAutoDoc-DeprecatedEntryClass#LuaAutoDoc-InternalEntryClass" id="#LuaAutoDoc-GetValueId">
	<div class="code-object-padding">
		#LuaAutoDoc-ObjectAuthor
		<div class="code-object-title">
			 #LuaAutoDoc-CodeObjectGetSmallTitleKeywords #LuaAutoDoc-GetHTMLName #LuaAutoDoc-CodeObjectDeprecated #LuaAutoDoc-CodeObjectInternal
		</div>

		#LuaAutoDoc-CodeObjectSuperclass
		#LuaAutoDoc-CodeObjectSubclasses

		#LuaAutoDoc-CodeObjectDescription
		#LuaAutoDoc-See
		#LuaAutoDoc-CodeObjectErrors

		#LuaAutoDoc-CodeObjectFields
		#LuaAutoDoc-CodeObjectProperties

		#LuaAutoDoc-CodeObjectSource

		#LuaAutoDoc-CodeObjectCompressedMethodsList

		#LuaAutoDoc-CodeObjectClassMethods
		#LuaAutoDoc-InheritedMethodList
	</div>
</div>



#LuaAutoDoc-CodeObjectFunction
<div class="code-object#LuaAutoDoc-DeprecatedEntryClass#LuaAutoDoc-InternalEntryClass" id="#LuaAutoDoc-GetValueId">
	<div class="code-object-padding">
		<div class="code-object-title">
			#LuaAutoDoc-CodeObjectGetSmallTitleKeywords #LuaAutoDoc-GetFunctionName
			#LuaAutoDoc-CodeObjectSuperMethod
			#LuaAutoDoc-CodeObjectDeprecated
			#LuaAutoDoc-CodeObjectInternal
		</div>
		#LuaAutoDoc-ObjectAuthor

		#LuaAutoDoc-CodeObjectReturnList
		#LuaAutoDoc-CodeObjectDescription
		#LuaAutoDoc-See
		#LuaAutoDoc-CodeObjectErrors

		#LuaAutoDoc-CodeObjectParams

		#LuaAutoDoc-CodeObjectSource
	</div>
</div>
