#LuaAutoDoc-ObjectAuthor
<div class="code-object-author">
	<span class="code-object-keyword">Author:</span> #LuaAutoDoc-EntryAuthor
</div>


#LuaAutoDoc-CodeObjectDeprecated
<span class="code-object-deprecated">
	<img class="code-object-warning-image" src="#LuaAutoDoc-DeprecatedImage" alt="Deprecated entry warning image">
	<span class="code-object-warning-text">#LuaAutoDoc-GetDescription</span>
</span>


#LuaAutoDoc-CodeObjectInternal
<span class="code-object-internal">
	<img class="code-object-warning-image" src="#LuaAutoDoc-InternalImage" alt="Internal use only entry warning image">
	<span class="code-object-warning-text">#LuaAutoDoc-GetDescription</span>
</span>


#LuaAutoDoc-CodeObjectGetSmallTitleKeywords
<span class="code-object-keyword code-object-small-title-keyword">#LuaAutoDoc-GetKeywords</span>


#LuaAutoDoc-CodeObjectSuperclass
<div class="code-object-superclass">
	<span class="code-object-keyword">Superclass:</span> <a href="#LuaAutoDoc-CodeObjectSuperObjectHref">#LuaAutoDoc-CodeObjectGetSuperclass</a>
</div>


#LuaAutoDoc-CodeObjectSubclasses
<div class="code-object-subclasses">
	<div>
		<span class="code-object-keyword">Subclasses: </span>
	</div>
	<div>
		#LuaAutoDoc-CodeObjectSubclassesEntry
	</div>
</div>


#LuaAutoDoc-CodeObjectDescription
<div class="code-object-description">
	<h3>Description:</h3>
	<p>#LuaAutoDoc-CodeObjectDescriptionText</p>
	<hr>
</div>


#LuaAutoDoc-See
<div class="code-object-see">
	<span class="code-object-keyword">See: </span> #LuaAutoDoc-SeeList
</div>


#LuaAutoDoc-CodeObjectErrors
<div class="code-object-error-list">
	#LuaAutoDoc-CodeObjectErrorsList
</div>


#LuaAutoDoc-CodeObjectFields
<div class="code-object-body">
	<table class="code-object-param-table">
		<thead>
			<tr>
				<th class="code-object-param-table-head">Field</th>
				<th class="code-object-param-table-head">Type</th>
				<th class="code-object-param-table-head">Description</th>
			</tr>
		</thead>
		<tbody class=param-body">
			#LuaAutoDoc-CodeObjectFieldsEntry
		</tbody>
	</table>
</div>


#LuaAutoDoc-CodeObjectProperties
<div class="code-object-body">
	<table class="code-object-static-table">
		<thead>
			<tr>
				<th class="code-object-static-table-head">Property</th>
				<th class="code-object-static-table-head">Value</th>
				<th class="code-object-static-table-head">Description</th>
			</tr>
		</thead>
		<tbody class=param-body">
			#LuaAutoDoc-CodeObjectPropertiesEntry
		</tbody>
	</table>
</div>


#LuaAutoDoc-CodeObjectCompressedMethodsList
<h3 class="code-object-header">Class methods - compressed list</h3>
<ol class="code-object-compressed-list">#LuaAutoDoc-CodeObjectCompressedMethodsEntry</ol>


#LuaAutoDoc-CodeObjectClassMethods
<h2 class="code-object-header">#LuaAutoDoc-ClassMethodsTitle</h2>
	#LuaAutoDoc-CodeObjectMethods


#LuaAutoDoc-CodeObjectSuperMethod
<br>
→ <a href="#LuaAutoDoc-GetValueHref">Supermethod</a>


#LuaAutoDoc-CodeObjectReturnList
<div class="code-object-return">
	#LuaAutoDoc-CodeObjectReturn
	#LuaAutoDoc-CodeObjectOptionalReturn
</div>


#LuaAutoDoc-CodeObjectParams
<div class="code-object-body">
	<table class="code-object-param-table">
		<thead>
			<tr>
				<th class="code-object-param-table-head">Parameter</th>
				<th class="code-object-param-table-head">Type</th>
				<th class="code-object-param-table-head">Description</th>
			</tr>
		</thead>
		<tbody class=param-body">
			#LuaAutoDoc-CodeObjectParamsEntry
		</tbody>
	</table>
</div>


#LuaAutoDoc-CodeObjectSource
<div class="code-object-source">Source: <a href="#LuaAutoDoc-CodeObjectSourceMirrorRef">#LuaAutoDoc-CodeObjectCleanFileName</a>, Line: <a href="#LuaAutoDoc-CodeObjectLineHref">#LuaAutoDoc-CodeObjectDeclarationLine</a> </div>
